<div class="form-group">
    <label for="InputName">{{ field.name }}</label>
    <div class="input-group">
        <select  class="form-control" name="{{ field.name }}" id="{{ field.name }}"  required>
            {% for option in field.relatedOptions %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
</div>