<div class="form-group">
    <label for="InputName">{{ field.name }}</label>
    <div class="input-group">
        <textarea data-provide="markdown" class="form-control" name="{{ field.name }}" id="{{ field.name }}" placeholder="Enter {{ field.name }}" required>{{ field.value }}</textarea>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
</div>