<div class="form-group">
    <label for="InputName">{{ field.name }}</label>
    <div class="input-group">
        <input type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}" placeholder="Enter {{ field.name }}" value="{{ field.value }}" required>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
</div>